
Warning: World-writable config file '/etc/mysql/conf.d/master.cnf' is ignored
+---------------------------------------------------------+
+---------------------------------------------------------+
| SHOW CREATE TABLE fnbreservation.TableAssignments;      |
| SHOW CREATE TABLE fnbreservation.Outlets;               |
| SHOW CREATE TABLE fnbreservation.TableHolds;            |
| SHOW CREATE TABLE fnbreservation.OutletChanges;         |
| SHOW CREATE TABLE fnbreservation.QueueNotifications;    |
| SHOW CREATE TABLE fnbreservation.StatusChanges;         |
| SHOW CREATE TABLE fnbreservation.QueueStatusChanges;    |
| SHOW CREATE TABLE fnbreservation.__EFMigrationsHistory; |
| SHOW CREATE TABLE fnbreservation.Users;                 |
| SHOW CREATE TABLE fnbreservation.Customers;             |
| SHOW CREATE TABLE fnbreservation.CustomerBans;          |
| SHOW CREATE TABLE fnbreservation.QueueEntries;          |
| SHOW CREATE TABLE fnbreservation.Tables;                |
| SHOW CREATE TABLE fnbreservation.Reminders;             |
| SHOW CREATE TABLE fnbreservation.RefreshTokens;         |
| SHOW CREATE TABLE fnbreservation.QueueTableAssignments; |
| SHOW CREATE TABLE fnbreservation.PeakHourSettings;      |
| SHOW CREATE TABLE fnbreservation.Reservations;          |
+---------------------------------------------------------+


