@inherits LayoutComponentBase

<MudPopoverProvider @rendermode="InteractiveServer" />
<MudThemeProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
<MudDialogProvider @rendermode="InteractiveServer" />

<div class="full-page">
    @Body
</div>

<style>
    .full-page {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
</style>