[mysqld]
server-id=1
log-bin=mysql-bin
binlog-format=ROW
binlog-do-db=fnbreservation
sync_binlog=1
innodb_flush_log_at_trx_commit=1

# Recommended replication settings
expire_logs_days=3
max_binlog_size=100M